$font-size-base: 1rem;

html {
font-size: $font-size-base;
}

h1, .h1 {
    font-size: $font-size-base * 6.5;
}

h2, .h2 {
    font-size: $font-size-base * 4.5;
}
h3, .h3 {
    font-size: $font-size-base * 1.75;
}
h4, .h4 {
    font-size: $font-size-base * 1.5;
}
h5, .h5 {
    font-size: $font-size-base * 1.25;
}

h6, .h6 {
    font-size: $font-size-base;
}
